/* Base Styling */

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	color: #212121;
}

a {
	color: #212121;
}

a:hover {
	text-decoration: none;
}

hr {
	border-top: 1px solid #ccc;
}

/* Helpers */

.remove-padding {
	padding: 0;
}

.remove-margin {
	margin: 0;
}

.remove-margin-top {
	margin-top: 0;
}

.divider {
	padding: 40px;
}

.small-padding {
	padding-left: 10px;
}

/* Navbar */

.nav {
	position:fixed;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index:100;
	display:block;
	background-color: #4fc3f7;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
}

.nav-item {
	color: white;
	font-weight: 500;
	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.nav-item:hover {
	color: #616161;
	cursor: pointer;
}


/* Standard Articles */

.article-container {
	max-height: 140px;
	background-color: #FFFFFF;
	border-radius: 2px;
	margin: 15px;
	overflow:hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: box-shadow 0.2s ease-out;
	-moz-transition: box-shadow 0.2s ease-out;
	-o-transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
}

.article-container:hover {
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	cursor: pointer;
}

.author-margin {
	margin-top: 20px;
	max-height: 55px;
}

.article-title {
	font-weight: 300;
	height: 55px;
	max-height: 55px;
}

.article-body {
	white-space: pre-line;
	font-weight: 400;
}

.article-body a {
	color: #ff6c49;
}

.article-body a:hover {
	color: #4fc3f7;
}

.single-article-title {
	font-weight: 300;
}

.article-title:hover {
	color: #ff6c49;
}

.article-author {
	color: #ff6c49;
}

.time-and-author {
	margin-top: 5px;
}

/* Featured Articles */

.feature-container {
	background-color: #FFFFFF;
	border-radius: 2px;
	margin: 15px;
	overflow:hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: box-shadow 0.2s ease-out;
	-moz-transition: box-shadow 0.2s ease-out;
	-o-transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
}

.featured-article-title {
	font-weight: 300;
	height: 55px;
	max-height: 55px;
	margin-top: 10px;
}

/* Captions */

.caption {
	color: #fff;
	position: absolute;
	font-weight: 300;
	top: 70%;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	padding-top: 10px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

.caption:hover {
	background-color: rgba(79, 195, 247, 0.8);
	cursor: pointer;
}

/* Categories */

.category-overlay {
	color: #fff;
	position: absolute;
	font-weight: 300;
	top: 55%;
	left: 0;
	width: 40%;
	height: 100%;
	padding-left: 10px;
	padding-top: 5px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

/* Social */

.social-box {
	width: 100%;
	margin-bottom: 5px;
}

.social-box a {
	color: azure;
}

.facebook {
	width: 19%;
	height: 30px;
	background-color: #3b5998;
	display: inline-block;
	padding: 5px;
}

.twitter {
	width: 19%;
	height: 30px;
	background-color: #6CADDE;
	display: inline-block;
	padding: 5px;
}

.reddit {
	width: 19%;
	height: 30px;
	background-color: #336699;
	display: inline-block;
	padding: 5px;
}

.google-plus {
	width: 19%;
	height: 30px;
	background-color: #d34836;
	display: inline-block;
	padding: 5px;
}

.linkedin {
	width: 19%;
	height: 30px;
	background-color: #0077b5;
	display: inline-block;
	padding: 5px;
}