{% extends "base.html" %}

{% block title %}
	{{ super() }} Homepage
{% endblock %}

{% block head %}
	{% for i in article %}
	{{ super() }}
	<meta property="og:title" content="{{i['tag_line']}}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="http://localhost:5000/article/{{i['id']}}/{{i['tag_line']}}"/>
	<meta property="og:image" content="{{i['img_url']}}"/>
	<meta property="og:site_name" content="News-Front"/>

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@news-front" />
	<meta name="twitter:title" content="{{i['tag_line']}}" />
	<meta name="twitter:image" content="{{i['img_url']}}" />
	<meta name="twitter:description" content="{{i['body_text']}}" />
	<meta name="twitter:url" content="https://news-front.herokuapp.com/article/{{i['id']}}/{{i['tag_line']}}" />
	{% endfor %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		{% for i in article %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="single-article-title remove-margin">{{i['tag_line']}}</h2>
				<p class="time-and-author">{{i['timeDif']}} by <span class="article-author">{{i['author']}}.</span></p>
				<a href="https://www.facebook.com/sharer/sharer.php?u=https://news-front.herokuapp.com/article/{{i['id']}}/{{i['tag_line']}}" ><i class="fa fa-facebook"></i></a>
				<a  href="https://twitter.com/intent/tweet?text={{i['tag_line']}}&url=https://news-front.herokuapp.com/article/{{i['id']}}/{{i['tag_line']}}"><i class="fa fa-twitter"></i></a>
				<i class="fa fa-reddit"></i>
				<i class="fa fa-google-plus"></i>
				<i class="fa fa-linkedin"></i>
				<hr class="remove-margin-top">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<img class="img-responsive" src="{{i['img_url']}}"></img>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<p>{{i['body_text']}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% for i in article %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES * * */
	var disqus_shortname = 'disbabel';
	var disqus_identifier = "{{i['id']}}";
	var disqus_title = "{{i['tag_line']}}";
	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endfor %}
	</div>
</div>
</div>

{% endblock %}