{% extends "base.html" %}

{% block title %}
	{% for i in article %}
	{{ super() }} {{i['tag_line']}}
	{% endfor %}
{% endblock %}

{% block head %}
	{% for i in article %}
	{{ super() }}
	<meta property="og:title" content="{{i['tag_line']}}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="http://localhost:5000/article/{{i['id']}}/{{i['tag_line']}}"/>
	<meta property="og:image" content="{{i['img_url']}}"/>
	<meta property="og:site_name" content="News-Front"/>

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@news-front" />
	<meta name="twitter:title" content="{{i['tag_line']}}" />
	<meta name="twitter:image" content="{{i['img_url']}}" />
	<meta name="twitter:description" content="{{i['body_text']}}" />
	<meta name="twitter:url" content="https://news-front.herokuapp.com/article/{{i['id']}}/{{i['tag_line']}}" />
	{% endfor %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		{% for i in article %}
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="single-article-title remove-margin">{{i['tag_line']}}</h2>
				<p class="time-and-author">{{i['timeDif']}} by <span class="article-author">{{i['author']}}.</span></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<!--Hideousness formatting required to remove space between inline-block elements-->
				<div class="social-box">
				<a href="https://www.facebook.com/sharer/sharer.php?u=https://news-front.herokuapp.com/article/{{i['id']}}/{{i['url_safe']}}"><div class="facebook"><i class="fa fa-facebook"></i></div></a><a href="https://twitter.com/intent/tweet?text={{i['tag_line']}}&url=https://news-front.herokuapp.com/article/{{i['id']}}/{{i['url_safe']}}"><div class="twitter"><i class="fa fa-twitter"></i></div></a><a href="http://www.reddit.com/submit?url=https://news-front.herokuapp.com/article/{{i['id']}}/{{i['url_safe']}}&title={{i['tag_line']}}"><div class="reddit"><i class="fa fa-reddit"></i></div></a><a href="https://plus.google.com/share?url=https://news-front.herokuapp.com/article/{{i['id']}}/{{i['url_safe']}}"><div class="google-plus"><i class="fa fa-google-plus"></i></div></a><a href="https://www.linkedin.com/cws/share?url=https://news-front.herokuapp.com/article/{{i['id']}}/{{i['url_safe']}}"><div class="linkedin"><i class="fa fa-linkedin"></i></div></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<hr class="remove-margin-top">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<img class="img-responsive center-block" src="{{i['img_url']}}"></img>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p class="article-body" style="font-size: 18px;">{{i['body_text_escaped']}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% for i in article %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES * * */
	var disqus_shortname = 'disbabel';
	var disqus_identifier = "{{i['id']}}";
	var disqus_title = "{{i['tag_line']}}";
	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endfor %}
	</div>
</div>
</div>

{% endblock %}